.nav-wrapper {
  background-color: #1565c0;
}

.item-color {
  color: #ffffffcc;
}
.nav-item {
  width: 100%;
  text-align: center;
}

.nav-link {
  padding: 10px 15px;
}

.nav-link {
  align-self: center;
}
.nav-detail {
  color: #ffffffcc;
}
