.nav-wrapper {
  background-color: #1565c0;
}

.item-color {
  color: #ffffffcc;
}
.nav-item {
  width: 100%;
  text-align: center;

  &:active {
    background-color: #7f8cfc23;
  }
}

.nav-link {
  padding: 10px 15px;
}

.nav-link {
  align-self: center;
}
.nav-detail {
  color: #ffffffcc;
}

.name-app {
  &:hover {
    color: white;
    text-decoration: none;
  }
}

.navbar-toggler-icon {
  filter: invert(100%) sepia(100%) saturate(21%) hue-rotate(280deg) brightness(106%) contrast(106%);
}
