@import "../../../common/columnDisplay.scss";

.selectParkingImage {
  // @extend .md-image;
  width: 100%;
}

.select-parking-spot {
  width: 80px;
}

.date-picker {
  // width: 100vw;
  width: calc(100vw - 20px);
}

.btn-primary:disabled {
  background-color: #555555;
  border-color: #555555;
}
