.selectParkingImage {
  width: 100%;
}

.select-parking-spot {
  width: 80px;
}

.date-picker {
  width: calc(100vw - 20px);
}

.btn-primary:disabled {
  background-color: #555555;
  border-color: #555555;
}
